<mat-toolbar>
  <mat-toolbar-row>
    <h1>Document Management</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container autosize>
  <mat-sidenav opened="true" style="border: 1px solid black;" mode="side" fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list>
      <mat-list-item>
        <mat-icon matListItemIcon>upload</mat-icon>
        <a matListItemTitle routerLink="upload">
          Upload
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
