mat-sidenav-content {
   display: flex;
   flex-direction: row;
 }

 .sidenavFlexbox {
   display: flex;
   flex-direction: row;
   height: 100%;
 }

 .sidenavFlexbox .sidenavActivator:last-child {
   margin-left: auto;
 }

.sidenavActivator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: green;
}
