<svg attr.viewBox="{{svgCenter[0] - svgSize[0]/2}}, {{svgCenter[1] - svgSize[1]/2}} {{svgSize[0]}} {{svgSize[1]}}"
  (wheel)="zoom($event)"
  (mousedown)="canvasDown($event)"
  (mouseup)="canvasUp($event)"
  (mousemove)="canvasDrag($event)"
   #canvas
  preserveAspectRatio="xMidYMid slice"
>
  <defs>
    <!-- A marker to be used as an arrowhead -->
    <marker
      id="arrow"
      viewBox="0 0 10 10"
      refX="5"
      refY="5"
      markerWidth="10"
      markerHeight="10"
      orient="auto-start-reverse">
      <path d="M 0 0 L 10 5 L 0 10 z" />
    </marker>
    <path d="M-60,0 H 0" stroke="red" id="textpath"></path>
    <path d="M-4,0 H -60" stroke="red" id="revtextpath"></path>
  </defs>
  <!-- Because Angular doesn't like things touching the DOM, we pre-generate all the elements that D3 might need. Then, we let Angular handle linking the data (i.e. x, y, so on so forth) to the actual elements. -->
  <g id="links">
    <g *ngFor="let source of _rootNode?.flatten()">
      <path *ngFor="let target of source.children; index as i" attr.d="{{generateLinkPath(source, target)}}" stroke="black" fill="none" marker-end="url(#arrow)"></path>
    </g>
  </g>
  <g id="nodes">
    <circle attr.r="{{svgRingRadius}}" stroke="black" fill="none"/>
    <svg #nodes *ngFor="let node of _rootNode?.flatten(); index as i"
         attr.viewBox="0 0 {{nodeSize}} {{nodeSize}}"
         overflow="visible"
         attr.width="{{nodeSize}}" attr.height="{{nodeSize}}"
         class="node"
         attr.transform="rotate({{getNodeRotation(node)}})translate({{node.hierarchy?.y}}, 0)"
    >
      <path attr.d="M{{-svgPillLength}},{{-svgPillRadius}} H 0 a {{svgPillRadius}} {{svgPillRadius}} 0 0 1 0 {{2 * svgPillRadius}} H {{-svgPillLength}} a {{svgPillRadius}} {{svgPillRadius}} 0 0 1 0 {{-svgPillRadius * 2}} Z"
            stroke="black" attr.fill="{{node.hover ? 'red' : 'white'}}"
            (click)="pillClicked($event, node)"
            (mouseover)="nodeHover($event, node)"
            (mouseleave)="nodeLeave($event, node)"/>
      <circle attr.r="{{svgPillRadius/2}}" cx="0" cy="0" stroke="black" (mousedown)="nodeClick($event, node)"/>
      <text font-size="7" dominant-baseline="central"
            (click)="pillClicked($event, node)"
            (mouseover)="nodeHover($event, node)"
            (mouseleave)="nodeLeave($event, node)">
        <textPath *ngIf="getNodeRotation(node)  <= 90 || getNodeRotation(node) >= 270" href="#textpath" >{{node.hierarchy?.data?.document?.nodeTitle}}</textPath>
        <textPath *ngIf="getNodeRotation(node)  > 90 && getNodeRotation(node) < 270" href="#revtextpath" >{{node.hierarchy?.data?.document?.nodeTitle}}</textPath>
      </text>
    </svg>
  </g>
</svg>
