<nav>
  <img src="assets/documap-logo.png" alt="DocuMap Logo" class="icon">
  <ul class="nav-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/feature">Features</a></li>
    <li><a routerLink="/support">Support</a></li>
    <li><a routerLink="/setting">Settings</a></li>


  </ul>
  <ul class="nav-buttons">
    <li><a routerLink="/login" class="btn btn-primary">Login</a></li>
  </ul>
</nav>

<div class="home-container text-center">
  <img src="assets/documap-logo.png" alt="DocuMap Logo" class="logo">
  <mat-autocomplete #auto=matAutocomplete [displayWith]="displayFn" panelWidth="500px">
    @for (option of filteredOptions(); track option) {
      <mat-option [value]="option">
        {{option.title}}
      </mat-option>
    }
  </mat-autocomplete>
  <div class="search-container">
    <mat-form-field style="width: 500px;">
      <input type="text" matInput [formControl]="formControl" [matAutocomplete]="auto">
      <button matSuffix mat-icon-button (click)="navigateApp()">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    </mat-form-field>

    <!-- Help Popup with Arrow pointing to the search bar -->
    <div class="help-popup" id="helpPopup">
      <div class="help-arrow"></div>
      <div class="help-content">
        <p>Type a keyword or document name and click the search icon to find public files.</p>
      </div>
    </div>
  </div>
  <p>Welcome to DocuMap, your comprehensive tool for visualizing relationships and mapping policy documents with ease.</p>

</div>
