<div class="login-container" @fadeIn>
  <div class="login-logo">
    <img src="assets/documap-logo.png" alt="DocuMap Logo">
  </div>
  <div class="login-form">
    <h2>Log in using your DocuMap UserID & Password</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
      <div class="form-group">
        <input type="text" placeholder="User ID" required formControlName="userid">
        <input type="password" placeholder="Password" required formControlName="password"> <!-- Changed type to password -->
      </div>
      <button (click)="onSubmit()" type="submit" class="btn btn-primary" [disabled]="!formGroup.valid">Login</button>
    </form>
    <!-- Back to Home Button -->
    </div>
  <a routerLink="/" class="btn btn-secondary">Back to Home</a>
</div>
