<nav>
  <img src="assets/documap-logo.png" alt="DocuMap Logo" class="icon">
  <ul class="nav-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/feature">Features</a></li>
    <li><a routerLink="/support">Support</a></li>
    <li><a routerLink="/setting">Settings</a></li>


  </ul>
  <ul class="nav-buttons">
    <li><a routerLink="/login" class="btn btn-primary">Login</a></li>
  </ul>
</nav>
<div class="home-container text-center">
  <img src="assets/documap-logo.png" alt="DocuMap Logo" class="logo">

  <div class="search-container">
    <input type="text" class="search-bar" placeholder="Search public files" id="search-bar">
    <button class="search-button">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>

    <!-- Help Popup with Arrow pointing to the search bar -->
    <div class="help-popup" id="helpPopup">
      <div class="help-arrow"></div>
      <div class="help-content">
        <p>Type a keyword or document name and click the search icon to find public files.</p>
      </div>
    </div>
  </div>

  <p>Welcome to DocuMap, your comprehensive tool for visualizing relationships and mapping policy documents with ease.</p>
</div>
